<p style="color: green"><%= notice %></p>

<div id="groups-section">
  <%= render partial: '/groups/group' %>
  <div class="add-b-container">
  <%= link_to "ADD A NEW CATEGORY", new_group_path, class: "add-category" %>
  </div>
</div>

