<div class="splash-section">
    <%= image_tag("logo.png") %>

    <ul>
        <li class="active-button"><%= link_to "Log in", new_user_session_path %></li>
        <li class="unactive-button"><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
</div>

