<div class="splash-section">
    <%= image_tag("logo.png") %>

    <ul>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
</div>

