#groups-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(246, 246, 246);
  height: 89.2%;
  margin-top: 15px;
}

.new-my-form img {
  height: 35px;
}

.group-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 10px;
}

.group-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}

.group-image {
  background-color: #386aab;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
}

.group-image img {
  height: 48px;
}

a {
  text-decoration: none;
}

.group-container li a {
  color: #434b54;
  text-decoration: none;
}

.group-container li p {
  color: #434b54;
  font-weight: 600;
}

.add-b-container {
  background-color: #5fb523;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-category {
  color: #fff;
  border: 1px solid #fff;
  width: 80%;
  padding: 25px;
  text-align: center;
  transition: all ease 0.5s;
  cursor: pointer;
  font-weight: 800;
}

.add-category:hover {
  background-color: #51981e;
}

#group_icon {
  padding: 10px;
  width: 95%;
  border: none;
}
