* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.splash-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}

.splash-section img {
  margin-top: 80px;
}

.splash-section ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
  height: 15%;
}

.splash-section ul li {
  cursor: pointer;
  transition: all ease 0.5s;
}

.splash-section ul li:hover {
  background-color: #3778c257;
}

.splash-section ul .active-button {
  padding: 18px;
  color: #fff;
  background-color: #3778c2;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.splash-section ul .active-button a {
  font-weight: 600;
  color: #fff;
}

.splash-section ul .unactive-button {
  padding: 18px;
  width: 100%;
  color: #434b54;
  text-align: center;
  border-radius: 5px;
}

.splash-section ul .unactive-button a {
  font-weight: 600;
  color: #434b54;
}
